.spinner9 {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
  }
  .spinner9:after {
    content: " ";
    display: block;
    position: absolute;
    left: 25%;
    top: 25%;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 3px solid $spinner-color;
    border-color: $spinner-color transparent $spinner-color transparent;
    animation: spinner9 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }
  @keyframes spinner9 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }