.ColorChange-colorChangeContainer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.ColorChange-colorChangeItem {
   margin: 0 auto;
   padding-top: 2rem;
}