.DialogTabContent-dialogSizingContainer {
    width: 500px;
    height: 400px;
    padding: 5px;
    margin: 10px;
    margin-top: 60px;
}

.DialogTabContent-buttonContainer {
    float: right;
    margin-top: 15px;
    margin-right: 10px;
}

.DialogTabContent-codeTextContainer {
    background-color: black;
    color: green;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 11pt;
    padding: 10px;
}