.Header-headerContainer {
    background-color: #616161;
    min-height: 280px;
    padding: 0 4rem;
}
.Header-gridContainer {
    padding-top: 6rem;
}
.Header-headerSubtitle {
    padding-top: 3rem;
    text-align: center;
    color: #fff;
}
.Header-headerSpan {
    color: #fff;
}
@media (max-width: 45rem) {
    .Header-headerSpan {
        font-size: 5rem;
    }
    .Header-headerTitle {
        font-size: 5rem;
    }
    .Header-gridContainer {
        padding-top: 3rem;
    }
}
